.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
prisma/seed.js
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
prisma
db
**/*.postcss
*.MD
