.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.development
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
playwright-report
test-results
.wrangler./db
./.wrangler/
.wrangler
db
.env.development
